.desktop1Child,
.frameChild {
  position: absolute;
  margin: 0 !important;
}
.desktop1Child {
  width: 1925px;
  height: 639px;
  top: 412px;
  left: 0;
  z-index: 1;
}
.frameChild {
  height: 45px;
  width: 61px;
  top: 281px;
  right: 347px;
  border-radius: 50%;
  filter: blur(4px);
  z-index: 2;
}
.frameItem,
.groupIcon {
  position: relative;
  max-width: 100%;
}
.frameItem {
  width: 1462px;
  height: 921px;
  display: none;
}
.groupIcon {
  align-self: stretch;
  height: 47.1px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.groupWrapper {
  width: 86px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 5px;
  box-sizing: border-box;
}
.theRide {
  flex: 1;
  position: relative;
  font-weight: 300;
  display: inline-block;
  white-space: nowrap;
  max-width: 100%;
  z-index: 1;
}
.loginText {
  width: 515px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 0 8px;
  max-width: 100%;
}
.home {
  font-weight: 800;
}
.businessConnect {
  font-weight: 200;
  color: #fff;
  white-space: pre-wrap;
}
.homeBusinessConnectContainer {
  position: relative;
  display: inline-block;
  mix-blend-mode: normal;
  flex-shrink: 0;
  z-index: 1;
}
.group1,
.group2,
.group3 {
  position: absolute;
  height: 20%;
  width: 48.41%;
  top: 0;
  right: 0;
  bottom: 80%;
  left: 51.59%;
  border-radius: 10px;
  background-color: #ffc339;
}
.group2,
.group3 {
  width: 75.68%;
  top: 40%;
  bottom: 40%;
  left: 24.32%;
}
.group3 {
  width: 100%;
  top: 80%;
  bottom: 0;
  left: 0;
}
.groupParent {
  display: none;
  height: 25px;
  width: 44px;
  position: relative;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  z-index: 1;
}
.clientsText {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 65px;
}
.driversText,
.group {
  display: flex;
  max-width: 100%;
}
.driversText {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 6px 0 0;
  box-sizing: border-box;
  font-size: 18px;
  color: #4dd7ad;
}
.group {
  width: 95%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  vertical-align: middle;
  top: 0;
  background-color: #000;
  border-radius: 7px;
  padding: 10px 30px;
  margin-top: 10px;
  z-index: 99;
  position: fixed;
  gap: 20px;
  text-align: left;
  font-size: 20px;
  color: #fff;
  font-family: Poppins;
}
.were {
  color: #eee;
}
.launching {
  background: linear-gradient(91.51deg, #fff 6.24%, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.for {
  color: #eee;
}
.wereLaunchingFor {
  font-weight: 200;
}
.span1 {
  color: #eee;
}
.span {
  font-size: 44px;
}
.span2 {
  background: linear-gradient(
    97.21deg,
    transparent 2.53%,
    transparent 42.5%,
    transparent 88.5%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.first {
  color: #eee;
}
.span3 {
  color: #fff;
}
.businessesFirst {
  font-size: 44px;
}
.andThenEveryone {
  font-weight: 300;
  color: #eee;
}
.wereLaunchingForContainer {
  height: 218px;
  width: 553.8px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  max-width: 100%;
  z-index: 1;
}
.text1,
.text2 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: #f64f74;
  filter: blur(4px);
  width: 61px;
  height: 45px;
  z-index: 1;
}
.text2 {
  top: 4px;
  left: 9px;
  background-color: #000;
  z-index: 3;
}
.textGroup {
  height: 49px;
  width: 70px;
  position: absolute;
  margin: 0 !important;
  top: 26px;
  right: 0;
}
.text {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-top: 180px;
  position: relative;
  max-width: 100%;
}
.arrow3Icon,
.frameInner {
  object-fit: contain;
  z-index: 2;
}
.arrow3Icon {
  height: 68.8px;
  width: 68.8px;
  position: absolute;
  margin: 0 !important;
  right: 5.2px;
  bottom: 9.2px;
  overflow: hidden;
  flex-shrink: 0;
}
.frameInner {
  width: 2px;
  flex: 1;
  position: relative;
  max-height: 100%;
}
.clientConnectionTextInner {
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 8px 0 0;
  box-sizing: border-box;
}
.arrow3Icon1 {
  height: 68.8px;
  width: 68.8px;
  position: absolute;
  margin: 0 !important;
  top: -1px;
  right: -67.8px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
  z-index: 1;
}
.drivers {
  height: 74px;
  flex: 1;
  position: relative;
  font-weight: 300;
  display: inline-block;
  z-index: 3;
}
.driversText1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.clients {
  margin-top: -6px;
  height: 74px;
  position: relative;
  font-weight: 300;
  display: inline-block;
  z-index: 4;
}
.arrowFrame,
.comingSoonFrame {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.comingSoonFrame {
  height: 68px;
  flex-direction: row;
  padding: 0;
  box-sizing: border-box;
}
.arrowFrame {
  width: 146px;
  flex-direction: column;
}
.clientConnectionText,
.driversFrame {
  flex-direction: row;
  align-items: flex-start;
}
.clientConnectionText {
  width: 194px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.driversFrame {
  flex: 1;
}
.businessIntroFrame,
.driversFrame,
.textParent {
  display: flex;
  justify-content: flex-start;
}
.businessIntroFrame {
  width: 268px;
  flex-direction: row;
  align-items: flex-start;
  position: relative;
  font-size: 40px;
  color: #fff;
}
.textParent {
  width: 982px;
  flex-direction: column;
  align-items: flex-end;
  gap: 19px 0;
  max-width: 100%;
}
.frameWrapper {
  width: 1142px;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.ellipseParent,
.frameWrapper,
.vectorParent {
  display: flex;
  justify-content: flex-start;
}
.vectorParent {
  flex: 1;
  background-color: #000;
  flex-direction: column;
  align-items: center;
  padding: 48px 56px 287px 20px;
  box-sizing: border-box;
  gap: 155px 0;
  max-width: 100%;
}
.ellipseParent {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  position: relative;
  max-width: 102%;
  flex-shrink: 0;
  text-align: left;
  font-size: 35px;
  color: #d9d9d9;
  font-family: Poppins;
}
.helloDriversTextChild {
  width: 1318px;
  height: 713px;
  position: relative;
  border-radius: 10px;
  background-color: #f7f7f7;
  display: none;
  max-width: 100%;
}
.business {
  font-weight: 500;
}
.connect {
  font-weight: 100;
}
.businessConnect1 {
  align-self: stretch;
  height: 103px;
  position: relative;
  background: linear-gradient(
    269.8deg,
    rgba(0, 0, 0, 0.9) 34.79%,
    #86ffdb 56.1%,
    #000 77.65%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.clientAppWeb {
  position: relative;
  font-weight: 200;
  z-index: 2;
}
.clientAppWebPortalWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 4px;
}
.comingSoon {
  height: 73px;
  position: relative;
  font-size: 30px;
  font-weight: 200;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
  margin-top: -6px;
}
.businessConnectParent,
.frameParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameParent {
  margin-top: -46px;
  font-size: 15px;
}
.businessConnectParent {
  width: 607px;
  max-width: 100%;
}
.image67Icon {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.bookARide {
  margin-block-start: 0;
  margin-block-end: 3px;
}
.easyForYou {
  margin: 0;
  font-size: 16px;
}
.bookARideContainer {
  width: 223px;
  height: 63px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.plusSign0071Icon,
.rideFrame {
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.plusSign0071Icon {
  width: 84px;
  height: 84px;
  position: absolute;
  margin: 0 !important;
  right: 0;
  bottom: 0;
}
.rideFrame {
  align-self: stretch;
  width: 271px;
  border-radius: 23.39px;
  background: linear-gradient(161.51deg, rgba(0, 0, 0, 0.85), #000);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 17px;
  box-sizing: border-box;
  position: relative;
}
.image67Icon1 {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.teamTravel {
  margin-block-start: 0;
  margin-block-end: 3px;
}
.weTakeCareOfEverything {
  margin: 0;
  font-size: 16px;
}
.teamTravelWeContainer {
  width: 129px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.teamTravelWeTakeCareOfEvWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 11px;
}
.plusSign0071Icon1,
.rideFrame1 {
  overflow: hidden;
  flex-shrink: 0;
  position: relative;
  z-index: 1;
}
.plusSign0071Icon1 {
  width: 84px;
  height: 84px;
}
.rideFrame1 {
  width: 271px;
  border-radius: 23.39px;
  background: linear-gradient(161.51deg, rgba(0, 0, 0, 0.85), #000);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 12px 0 0;
  box-sizing: border-box;
  gap: 248px 0;
}
.privacyAndSecurity {
  margin-block-start: 0;
  margin-block-end: 3px;
}
.travelInPeace {
  margin: 0;
  font-size: 16px;
}
.privacyAndSecurityContainer {
  height: 63px;
  flex: 1;
  position: relative;
  display: inline-block;
}
.privacyAndSecurityTravelInWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 5px 0 0;
}
.g10Icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 101.1px;
  height: 130px;
}
.frameGroupFrame {
  height: 46px;
  flex: 1;
  position: relative;
  background: linear-gradient(90deg, #0085e9, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}
.plussignFrame {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 5px 0 0;
}
.plusSign0071Icon2 {
  width: 84px;
  height: 84px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.lineSeparator {
  position: absolute;
  top: 111px;
  left: 5px;
  width: 163px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 19px 0;
}
.g10Parent {
  height: 260px;
  width: 168px;
  position: relative;
}
.rideFrameInner {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  font-size: 50px;
}
.rideFrame2 {
  width: 271px;
  border-radius: 23.39px;
  background: linear-gradient(161.51deg, rgba(0, 0, 0, 0.85), #000);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 17px 19px 8px 24px;
  box-sizing: border-box;
  gap: 59px 0;
  z-index: 1;
}
.green {
  margin-block-start: 0;
  margin-block-end: 3px;
}
.ultraLowAndZeroEmission {
  margin: 0;
  font-size: 16px;
}
.greenUltraLowAndContainer {
  height: 63px;
  flex: 1;
  position: relative;
  display: inline-block;
}
.greenUltraLowAndZeroEmissWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 5px 0 13px;
}
.lineIcon {
  height: 167px;
  width: 196px;
  position: absolute;
  margin: 0 !important;
  right: 20px;
  bottom: 24px;
  object-fit: contain;
}
.plussignplussignFrame {
  height: 223px;
  width: 5px;
  position: relative;
  border-right: 5px solid #4dd7ad;
  box-sizing: border-box;
  z-index: 2;
}
.frameLineFrame,
.lineParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameLineFrame {
  height: 235px;
  flex: 1;
  padding: 0 0 12px;
  box-sizing: border-box;
}
.lineParent {
  align-self: stretch;
  padding: 0 5px;
  position: relative;
  margin-top: -9px;
}
.loginFrame {
  height: 5px;
  flex: 1;
  position: relative;
  border-top: 5px solid #4dd7ad;
  box-sizing: border-box;
  z-index: 2;
}
.loginFrameWrapper {
  align-self: stretch;
  height: 15px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 15px;
  box-sizing: border-box;
  margin-top: -9px;
}
.rectangleVectorFrame {
  align-self: stretch;
  position: relative;
  font-weight: 200;
}
.plusSign0072Icon {
  height: 84px;
  width: 84px;
  position: absolute;
  margin: 0 !important;
  bottom: -81px;
  left: -28px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.tFLlicenceFrame {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.rideFrame3,
.welcomeGroupFrame {
  display: flex;
  box-sizing: border-box;
}
.welcomeGroupFrame {
  align-self: stretch;
  height: 17px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 13px;
  margin-top: -9px;
  font-size: 15px;
  font-family: Poppins;
}
.rideFrame3 {
  width: 271px;
  border-radius: 23.39px;
  background: linear-gradient(
    161.51deg,
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.7)
  );
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 17px 19px 87px 11px;
  z-index: 1;
}
.businessLogoGroup,
.helloDriversText,
.londonLogoFrame {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.londonLogoFrame {
  width: 1222px;
  overflow-x: auto;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: flex-start;
  gap: 0 46px;
}
.businessLogoGroup,
.helloDriversText {
  box-sizing: border-box;
}
.businessLogoGroup {
  height: 407px;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 17px 0 41px;
  font-size: 14px;
  color: #fff;
  font-family: Inter;
}
.helloDriversText {
  border-radius: 10px;
  background-color: #f7f7f7;
  flex-direction: column;
  justify-content: flex-start;
  padding: 17px 19px 64px;
  gap: 78px 0;
}
.loginFrame1 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 10px;
}
.wereExcitedTo {
  height: 145px;
  width: 898px;
  position: relative;
  letter-spacing: 0.02em;
  font-weight: 200;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
  z-index: 1;
}
.businessInvitation,
.partnersLogosChild {
  align-self: stretch;
  position: relative;
  max-width: 100%;
}
.businessInvitation {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 30px 9px;
  box-sizing: border-box;
  min-height: 232px;
}
.partnersLogosChild {
  height: 351px;
  border-radius: 10px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.wereNotThe {
  font-weight: 200;
}
.ordinary {
  font-weight: 100;
}
.wereNotTheContainer {
  width: 450px;
  height: 176px;
  position: relative;
  letter-spacing: 0.02em;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.frameChild1 {
  height: 0;
  width: 229.9px;
  position: relative;
  object-fit: contain;
  z-index: 1;
}
.partnersLogos,
.partnersLogosInner {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
.partnersLogosInner {
  align-self: stretch;
  height: 0;
  flex-direction: row;
  justify-content: center;
  padding: 0 20px;
}
.partnersLogos {
  width: 459px;
  border-radius: 10px;
  background-color: #000;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  flex-direction: column;
  justify-content: flex-start;
  padding: 90px 3px 56px 0;
  gap: 29px 0;
  min-width: 459px;
  max-width: 100%;
}
.kisspngMarriottInternationalIcon {
  position: absolute;
  top: 1.6px;
  left: 0.7px;
  width: 140.6px;
  height: 127px;
  object-fit: cover;
}
.kisspngHiltonHotelsResortsIcon,
.kisspngQatarAirwaysLogoFliIcon {
  position: absolute;
  top: 43px;
  left: 156.5px;
  width: 134.2px;
  height: 53.8px;
  object-fit: cover;
}
.kisspngQatarAirwaysLogoFliIcon {
  top: 0;
  left: 289.9px;
  border-radius: 8.04px;
  width: 210.7px;
  height: 110.8px;
  z-index: 1;
}
.kisspngLogoBrandFontLineCIcon {
  position: absolute;
  top: 84px;
  left: 0;
  width: 141.4px;
  height: 141.8px;
  object-fit: cover;
  z-index: 1;
}
.kisspngLogoAstrazenecaVectoIcon,
.kisspngTShirtBurberryClothIcon {
  position: absolute;
  top: 103.7px;
  left: 132.6px;
  width: 182.3px;
  height: 102.9px;
  object-fit: cover;
  z-index: 2;
}
.kisspngTShirtBurberryClothIcon {
  top: 99.6px;
  left: 280.8px;
  width: 229.2px;
  height: 101.5px;
  z-index: 3;
}
.kisspngMarriottInternationalParent {
  align-self: stretch;
  height: 226px;
  position: relative;
}
.excitedMessageInner {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 32px;
  box-sizing: border-box;
  min-width: 331px;
  max-width: 100%;
}
.excitedMessage {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0 68px;
  max-width: 100%;
  font-size: 48px;
  color: #fff;
}
.welcomeFrame {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 54px 0;
  max-width: 100%;
}
.hiDriversMessageFrame {
  width: 1206px;
  flex-direction: row;
  padding: 0 80px;
  box-sizing: border-box;
  text-align: center;
  font-size: 40px;
}
.clientAppWebPortalText,
.hiDriversMessageFrame,
.invitationFrame {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.invitationFrame {
  flex: 1;
  flex-direction: column;
  gap: 22px 0;
}
.clientAppWebPortalText {
  width: 1382px;
  flex-direction: row;
  padding: 90px 44px 57px 20px;
  box-sizing: border-box;
  flex-shrink: 0;
  text-align: left;
  font-size: 41.8px;
  color: #000;
  font-family: Poppins;
}
.driversGroupChild {
  width: 1447px;
  height: 998px;
  position: relative;
  background-color: #294b50;
  display: none;
  max-width: 100%;
}
.london1,
.span4 {
  font-weight: 200;
  font-family: Poppins;
}
.span4 {
  font-weight: 300;
}
.london {
  color: #fff;
}
.drivers1 {
  font-weight: 600;
}
.londonDrivers1 {
  margin: 0;
}
.londonDrivers {
  height: 113px;
  flex: 1;
  position: relative;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.london4 {
  font-weight: 200;
  display: none;
}
.span5 {
  font-weight: 300;
  font-family: Poppins;
}
.london3 {
  margin: 0;
}
.blankLine {
  margin: 0;
  font-weight: 600;
  color: #86ffdb;
}
.london2 {
  height: 113px;
  flex: 1;
  position: relative;
  display: inline-block;
  max-width: 100%;
  z-index: 2;
  margin-left: -635px;
  color: #fff;
}
.cityAndCompany {
  width: 635px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.rectangleIcon {
  height: 81px;
  width: 187px;
  position: relative;
  border-radius: 11.16px;
  display: none;
}
.logIn {
  align-self: stretch;
  position: relative;
  font-size: 30px;
  font-weight: 600;
  font-family: Poppins;
  color: #fff;
  text-align: left;
  z-index: 1;
}
.vectorGroup {
  cursor: pointer;
  border: 0;
  padding: 17px 17px 29px;
  background-color: #667186;
  height: 81px;
  width: 187px;
  border-radius: 11.16px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
  z-index: 1;
}
.vectorGroup:hover {
  background-color: #808aa1;
}
.signUpCallToAction {
  width: 1067px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  gap: 20px;
}
.rectangleDiv {
  height: 46px;
  width: 162.2px;
  position: relative;
  border-radius: 84.66px;
  background-color: #4dd7ad;
  box-shadow: 7.3px 7.3px 36.32px rgba(102, 113, 135, 0.4);
  display: none;
}
.welcome {
  position: relative;
  font-size: 21.2px;
  font-family: "Futura PT";
  color: #fff;
  text-align: left;
  z-index: 1;
}
.welcomeArrowChild {
  width: 15.8px;
  height: 14.5px;
  position: relative;
  z-index: 1;
}
.rectangleParent,
.welcomeArrow {
  display: flex;
  justify-content: center;
}
.welcomeArrow {
  height: 4px;
  flex-direction: column;
  align-items: flex-start;
  padding: 4px 0 0;
  box-sizing: border-box;
}
.rectangleParent {
  cursor: pointer;
  border: 0;
  padding: 9px 32px 11px 27px;
  background-color: #4dd7ad;
  border-radius: 84.66px;
  box-shadow: 7.3px 7.3px 36.32px rgba(102, 113, 135, 0.4);
  flex-direction: row;
  align-items: center;
  gap: 7px;
  z-index: 1;
}
.frameChild2 {
  height: 46px;
  width: 174.3px;
  position: relative;
  border-radius: 84.66px;
  background-color: #fff;
  display: none;
}
.tflOperatingLicence {
  width: 142px;
  position: relative;
  font-size: 16.8px;
  font-family: "Futura PT";
  color: #000;
  text-align: left;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.rectangleGroup {
  cursor: pointer;
  border: 0;
  padding: 12px 13px 13px 19px;
  background-color: #fff;
  border-radius: 84.66px;
  box-shadow: 4.8px 4.8px 24.21px rgba(47, 64, 95, 0.25);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  white-space: nowrap;
  z-index: 1;
}
.rectangleGroup:hover {
  background-color: #e6e6e6;
}
.signUpCall,
.tflLicenseFrame {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.signUpCall {
  gap: 0 20px;
}
.tflLicenseFrame {
  padding: 0 29px;
  box-sizing: border-box;
}
.lineSeparatorChild {
  height: 503px;
  flex: 1;
  position: relative;
  border-radius: 27.91px;
  max-width: 100%;
  overflow: hidden;
  z-index: 1;
}
.frameChild3,
.pCODetailsFrame {
  position: absolute;
  margin: 0 !important;
  top: 12.1px;
  z-index: 2;
}
.pCODetailsFrame {
  border: 0;
  outline: 0;
  background-color: rgba(255, 255, 255, 0.1);
  width: 100%;
  height: 89.9px;
  right: 0;
  left: 0;
  border-radius: 9.84px;
  box-shadow: 9.8px 9.8px 49.22px 6.56px rgba(35, 33, 33, 0.15);
}
.frameChild3 {
  width: 84.4px;
  height: 1.4px;
  left: 27.9px;
}
.blankLine1 {
  margin: 0;
}
.pcoHolder {
  margin-bottom: 0;
}
.pcoHolderLowAndZeroEmissi {
  margin: 0;
  font-family: inherit;
  font-size: 19px;
  padding-left: 25px;
}
.pcoHolderLowContainer {
  width: 309.6px;
  height: 130.2px;
  position: relative;
  font-weight: 300;
  display: inline-block;
  flex-shrink: 0;
  z-index: 3;
}
.emissionDetailsFrameChild {
  width: 84.4px;
  height: 1.4px;
  position: absolute;
  margin: 0 !important;
  right: 0.4px;
  bottom: 26.9px;
  z-index: 4;
}
.emissionDetailsFrame,
.pCODetailsFrameParent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 6px 0 0;
  position: relative;
}
.pCODetailsFrameParent {
  margin: 0 !important;
  position: absolute;
  top: 26px;
  right: 35px;
  align-items: flex-start;
  padding: 0 20px 0 7px;
}
.frameChild4 {
  height: 81px;
  width: 187px;
  position: relative;
  border-radius: 11.16px;
  background-color: #000;
  display: none;
}
.signUp {
  height: 49px;
  flex: 1;
  position: relative;
  font-size: 34.7px;
  display: inline-block;
  font-family: "Futura PT";
  color: #fff;
  text-align: left;
  white-space: nowrap;
  z-index: 1;
}
.rectangleinstance,
.rectangleinstance1,
.rectangleinstance2 {
  position: absolute;
  height: 20%;
  width: 48.41%;
  top: 0;
  right: 0;
  bottom: 80%;
  left: 51.59%;
  border-radius: 10px;
  background-color: #4dd7ad;
}
.rectangleinstance1,
.rectangleinstance2 {
  width: 75.68%;
  top: 40%;
  bottom: 40%;
  left: 24.32%;
}
.rectangleinstance2 {
  width: 100%;
  top: 80%;
  bottom: 0;
  left: 0;
}
.rectangleinstanceParent {
  height: 25px;
  width: 44px;
  position: absolute;
  margin: 0 !important;
  right: -13px;
  bottom: -5px;
  cursor: pointer;
  z-index: 2;
}
.welcomegroup {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.lineSeparator1,
.rectangleContainer {
  margin: 0 !important;
  position: absolute;
  display: flex;
  flex-direction: row;
}
.rectangleContainer {
  cursor: pointer;
  border: 0;
  padding: 17px 20px 15px 18px;
  background-color: #000;
  width: 187px;
  right: -31px;
  bottom: 64px;
  border-radius: 11.16px;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  z-index: 2;
}
.lineSeparator1 {
  width: 100%;
  top: 0;
  left: 0;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.hiDrivers {
  margin: 0;
}
.blankLine3 {
  font-weight: 100;
}
.blankLine2 {
  margin: 0;
}
.beforeWeStart {
  font-weight: 200;
}
.beforeWeStartLetsChat {
  margin: 0;
  font-size: 25px;
}
.blankLine5 {
  font-weight: 200;
}
.blankLine4 {
  margin: 0;
}
.withUsYou {
  font-weight: 200;
}
.withUsYouCanEarnMoreFo {
  margin: 0;
}
.blankLine7 {
  font-weight: 100;
}
.blankLine6,
.blankLine8,
.onboardingTeam,
.regards {
  margin: 0;
}
.blankLine9 {
  margin: 0;
  font-weight: 800;
}
.hiDriversBeforeContainer1 {
  width: 100%;
}
.hiDriversBeforeContainer {
  width: 799px;
  height: 460px;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  max-width: 100%;
  z-index: 5;
  font-size: 25px;
  font-family: Poppins;
}
.driverDetailsFrame,
.lineSeparatorParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  max-width: 100%;
}
.lineSeparatorParent {
  align-items: flex-start;
  justify-content: flex-end;
  padding: 73px 39px 0;
  box-sizing: border-box;
  position: relative;
}
.driverDetailsFrame {
  align-items: center;
  justify-content: center;
}
.driversGroup1,
.welcomeMessage {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.welcomeMessage {
  width: 947px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 31px 0 0;
  box-sizing: border-box;
  gap: 72px 0;
}
.driversGroup1 {
  width: 1010px;
  flex-direction: row;
  justify-content: flex-end;
  font-size: 15.8px;
  color: #000;
  font-family: "Futura PT";
}
.desktop1,
.driversGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
}
.driversGroup {
  margin-left: 7px;
  margin-right: -7px;
  align-self: stretch;
  background-color: #294b50;
  padding: 37px 59px 82px 20px;
  gap: 115px 0;
  max-width: 100%;
  flex-shrink: 0;
  text-align: left;
  font-size: 70.8px;
  color: #4dd7ad;
  font-family: Poppins;
}
.desktop1 {
  width: 100%;
  position: relative;
  background-color: #fff;
  overflow: hidden;
  padding: 0 0 1024px;
  letter-spacing: normal;
}
@media screen and (max-width: 1147px) {
  .menu {
    margin-left: -55px;
  }
}
@media screen and (max-width: 900px) {
  .group {
    width: 95%;
  }
  .mobileMenu {
    display: flex !important;
  }
  .homeBusinessConnectContainer {
    display: none;
  }

  .groupParent {
    display: block;
  }
  .vectorParent {
    gap: 77px 0;
    padding-right: 28px;
    box-sizing: border-box;
  }
  .hiDriversMessageFrame {
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
  }
  .clientAppWebPortalText {
    padding-right: 22px;
    padding-bottom: 369px;
    box-sizing: border-box;
  }
  .driversGroup {
    gap: 57px 0;
    padding-right: 29px;
    box-sizing: border-box;
  }
  .text {
    justify-content: center;
  }
  .textGroup {
    display: none;
  }
  .textParent {
    align-items: center;
  }
}
@media screen and (max-width: 1050px) {
  .menu {
    margin-left: -165px;
  }
  .group {
    width: 97%;
  }
  .wereLaunchingForContainer {
    font-size: 28px;
  }
  .wereNotTheContainer {
    height: 50px;
    font-size: 30px;
  }
  .clients,
  .drivers {
    font-size: 32px;
  }
  .vectorParent {
    padding-top: 31px;
    padding-bottom: 187px;
    box-sizing: border-box;
  }
  .businessConnect1 {
    font-size: 33px;
  }
  .comingSoon {
    font-size: 24px;
  }
  .frameGroupFrame {
    font-size: 40px;
  }
  .wereExcitedTo {
    font-size: 32px;
  }
  .wereNotTheContainer {
    font-size: 30px;
  }

  .partnersLogos {
    flex: 1;
    padding-right: 0;
    box-sizing: border-box;
    align-items: center;
  }
  .excitedMessageInner {
    flex: 0 0;
    min-width: 491px;
  }
  .excitedMessage {
    flex-wrap: wrap;
    gap: 0 34px;
  }
  .clientAppWebPortalText {
    padding-bottom: 240px;
    box-sizing: border-box;
  }
  .london2,
  .londonDrivers {
    font-size: 42px;
  }
  .logIn {
    font-size: 24px;
  }
  .signUpCallToAction {
    flex-wrap: wrap;
  }
  .signUp {
    font-size: 28px;
  }
  .hiDriversBeforeContainer {
    font-size: 24px;
  }
  .welcomeMessage {
    gap: 36px 0;
  }
  .driversGroup {
    padding-top: 24px;
    padding-bottom: 53px;
    box-sizing: border-box;
  }
  .desktop1Child {
    top: 300px;
  }
  .vectorGroup {
    height: 67px;
    width: 127px;
  }
  .cityAndCompany {
    margin-top: 20px;
  }
  .driversGroup {
    margin-top: -180px;
  }
}
@media screen and (max-width: 750px) {
  .clientsText {
    gap: 0 32px;
  }
  .vectorParent {
    gap: 39px 0;
  }
  .londonLogoFrame {
    gap: 0 23px;
  }
  .helloDriversText {
    gap: 39px 0;
    padding-top: 20px;
    padding-bottom: 42px;
    box-sizing: border-box;
  }
  .partnersLogos {
    min-width: 100%;
  }
  .excitedMessage {
    gap: 0 17px;
  }
  .welcomeFrame {
    gap: 27px 0;
  }
  .clientAppWebPortalText {
    padding-bottom: 156px;
    box-sizing: border-box;
  }
  .signUpCall {
    flex-wrap: wrap;
  }
  .lineSeparatorParent {
    padding-top: 47px;
    box-sizing: border-box;
  }
  .welcomeMessage {
    gap: 18px 0;
  }
  .driversGroup {
    gap: 29px 0;
    padding-top: 20px;
    padding-bottom: 34px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .clientsText {
    gap: 0 16px;
  }
  .wereLaunchingForContainer {
    font-size: 21px;
  }
  .clients,
  .drivers {
    font-size: 24px;
  }
  .vectorParent {
    gap: 19px 0;
    padding-top: 20px;
    padding-bottom: 122px;
    box-sizing: border-box;
  }
  .businessConnect1 {
    font-size: 25px;
  }
  .comingSoon {
    font-size: 18px;
  }
  .frameGroupFrame {
    font-size: 30px;
  }
  .rideFrame3 {
    padding-top: 20px;
    padding-bottom: 57px;
    box-sizing: border-box;
  }
  .helloDriversText {
    gap: 19px 0;
  }
  .wereExcitedTo {
    font-size: 24px;
  }
  .wereNotTheContainer {
    font-size: 25px;
  }
  .partnersLogos {
    padding-top: 58px;
    padding-bottom: 36px;
    box-sizing: border-box;
  }
  .london2,
  .londonDrivers {
    font-size: 25px;
  }
  .logIn {
    font-size: 18px;
  }
  .welcome {
    font-size: 17px;
  }
  .signUp {
    font-size: 21px;
  }
  .hiDriversBeforeContainer {
    font-size: 18px;
  }
  .desktop1Child {
    top: 179px;
    opacity: 0.5;
  }
}

.menu a {
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  font-size: 18px;
  font-family: "Poppins";
  font-weight: 200;
  padding: 10px 20px;
  display: inline-block;
  transition: all 0.3s ease-in-out;
  text-align: center;
  transition: 0.5s;
  border-radius: 5px;
}
.menu a:hover {
  background-color: #4dd7ad;
}
.mobileMenu {
  position: absolute;
  top: 75px;
  right: 0;
  background-color: black;
  display: none;
  flex-direction: column;
  border-radius: 12px;
  cursor: pointer;
  overflow: hidden;
}
.mobileMenu a {
  padding: 10px 20px;
}
.mobileMenu a:hover {
  background-color: #4dd7ad;
}
